body{
    background-color: #1B0A41;
   margin: 0 auto;
   padding: 0;
   
}
*{
  text-decoration: none;
  font-family: 'Raleway' , sans-serif;
}
div#Home{
  color: aliceblue;
  font-size: 1em;
  border: 4px solid  #3658FF;
  border-radius: 20px;
  width: 5%;
  margin-top: 0.55%;
  margin-left: 2%;
  text-align: center;
}
#road{
    color: #FFFFFF;
}
#up{
    color: #3658FF;
  margin: auto;
  margin-top: -8%;
  margin-left: 17%;
}
div{
  margin-top: 5%;
  margin-left: -5%;
  font-size: 2em;   
}
h1{
  text-align: center;
}
form {
  margin: 0 auto;
  width: 400px;
  padding: 2em;
  color: aliceblue;

}


label {
  display: inline-block;
  width: 90px;
}

input, textarea {
  font: 1em sans-serif;
  border-radius: 15px;
  width: 400px;
  padding: 5px;
  border: 3px solid #3658FF;
  font: normal 18pt arial;
}

.button {
text-align: center;

}

button {
  font-size: 0.55em;
  margin-left: .5em;
  font-family: 'Raleway' , sans-serif;
  border: 3px solid #3658FF;
  border-radius: 5px;
}
