body{
    background-color: #1B0A41;
   
}
*{
    font-family: 'Raleway' , sans-serif;
   margin: 0 auto;
   padding: 0;
   text-decoration: none;
}

div#Home{
    margin-top: 8%;
    color: aliceblue;
    text-align: left;
    text-align: center;
    margin-left: 2%;
    border: 4px solid  #3658FF;
    border-radius: 20px;
    width: 4%;
    padding: 0.75%;
  
}


nav{
    background: #3658FF;
    text-align: center;
    color: aliceblue;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1.55%;
}

 
div.text2{
    text-align: center;
    color: aliceblue;
    margin-top: 8%;
     border: 5px solid #3658FF;
     border-radius: 10px;
     width: 50%;
     padding: 2%;
}

div.text{
    
    color: aliceblue;
    text-align: justify;
    margin: 2%;
}

div#fotos{
    margin-top: 15%;
}
.imagens,img{
    border-radius: 50%;
    width: 28%;
    margin: 2%;
 
}
div.imagens{
    display: flex;
    display: inline-block;
    display: inline-flex;
   
}

img{
    border-radius: 30%;
    width: 28%;
    margin: 2%;
    border: 4px solid #3658FF;
}
#nomes{

    margin-top: -15%;
    color:  aliceblue;
  text-align: center;
}