*{
    font-family: 'Raleway' , sans-serif; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #1B0A41;
}

nav{
    display: flex;
    align-items: center;
    background: #3658FF;
    color: rgb(255, 255, 255);
    height: 50px;
}

nav:hover {
    background-color: white;
    color: #1B0A41;
}

nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav span {
    padding-left: 12px;
    cursor: pointer;
}

header{
    position: fixed;
    top: 0;
    width: 100%;

}
menu {
    display: grid;
    display: none;
    width: 200px;
    padding: 15px;
    border-bottom-right-radius: 20px;
    background-color: #3658FF;
}

menu a {
    text-decoration: none;
    padding: 3px;
    color: white;
}

.primeira-secao {
    display: flex;
    align-items: center;
    width: 1653px;
    height: 852.1px;
}

#pessoa {
    margin-top: 100px;
}

.container-caixa {
    margin-left: 0px;
    width: 650px;
    color: white;
}

.container-caixa h1 {
    font-size: 57.16px;
}

.container-caixa p {
    font-size: 39.56px;
    margin-bottom: 8px;
}

.container-cursos {
    display: flex;
}

.container-curso {
    display: grid;
    padding: 7px;
}

.container-curso p {
    font-size: 25px;
    margin-top: 50px;
    margin-right: 50px;
}

.container-curso img {
    padding: 5px;
    background-color: #3658FF;
    border-radius: 18px;
}

.container-curso button {
    width: 203px;
    height: 43px;
    border-radius: 18px;
    font-size: 24.0567px;
    margin-top: 10px;
    color: white;
    background-color: #3658FF;
    cursor: pointer;
}

.container-trilhas {
    height: 720px;
}

.container-trilhas h1 {
    font-size: 60px;
    margin-top: 5%;
    margin-bottom: 8px;
    text-align: center;
    color: white;
}

.container-imagens {
    display: flex;
    justify-content: center;
    margin-right: 100px;
}

#foto1,#foto2{
    border: 2px solid white;
    border-radius: 5px;
    margin: 1%;
}

footer {
    height: 250px;
    width: auto;
    background-color: #3658FF;
    color: white;
}

.container-footer ul {
    display: grid;
    justify-content: center;
    align-items: center;
    list-style: none;

}

.grid-4 {
    width: 550px;
    text-align: center;
    margin-top: 15px;
}

.grid-4 p {
    margin-top: 5px;
}

.logos img {
    width: 5%;
    margin-top: 5px;
}
