body{
    background-color: #1B0A41;
   margin: 0 auto;
   padding: 0;
}
*{
    font-family: 'Raleway' , sans-serif; 
}
h1{
    text-align: center;
}
#road{
    color: #FFFFFF;
}
#up{
    color: #3658FF;
  margin: auto;
  margin-top: -8%;
  margin-left: 17%;
}
div{
   margin-top: 5%;
    margin-left: -5%;
    font-size: 2em;   
}
h2{
    color: aliceblue;
    margin-top: 10%;
    text-align: center;
    font-size: em;
}
div.computer{
     
height: 210px;
width: 210px;
   }
   #computer{
    padding-left: 2%;
   }
nav{
    background: #3658FF;
    text-align: center;
    color: aliceblue;
    position: fixed;
    top: 0;
    width: 100%;
}
h3{
    display: inline-block;
    padding: 2%;
    margin-bottom: -2%;
    margin: -0.55%;
    text-decoration: none;
    color: aliceblue;
}
div.imagens{
    display: flex;
    display: inline-block;
    padding-top: 10%;
    margin-left: 10%;

}

img{
    border-radius: 5%;
    border: 3px solid #ccc;
    margin: 15px;
}


